driver = mysql
connect = host={{ mysql.host }} dbname={{ mysql.database }} user={{ mysql.user }} password={{ mysql.pass }}
default_pass_scheme = CRYPT
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';