[cluegetter]

ipc-socket = "/var/run/cluegetter/ipc.sock"

instance = default
noop = false

exit-on-panic = false

rdbms-driver           = mysql
rdbms-user             = {{ mysql.cluegetter.user }}
rdbms-password         = {{ mysql.cluegetter.pass }}
rdbms-protocol         = tcp
rdbms-address          = {{ mysql.cluegetter.host }}:3306
rdbms-database         = {{ mysql.cluegetter.database }}

message-reject-score   = 6
message-tempfail-score = 8
message-spamflag-score = 4.5
breaker-score = 25

milter-socket =  "inet:10033@127.0.0.1"

whitelist = "127.0.0.0/8"
whitelist = "::1"

add-header = X-Scanned: ClueGetter at %{hostname}
add-header = [U] X-Report-Abuse-To: abuse@eoc.mx
add-header = [U] X-Spam-Score: %{rejectScore}
add-header = [U] X-Spam-Flag: %{spamFlag}

insert-missing-message-id = true

archive-prune-interval = 21600

archive-retention-body = 2
archive-retention-header = 26
archive-retention-message-result = 2
archive-retention-message = 52

message-cache-size = 256

[moduleGroup "spam"]
module = 0.9 spamassassin
module = 0.1 rspamd

[elasticsearch]
enabled = true
url = "http://127.0.0.1:9200"
sniff = false

[http]
enabled = true

[httpFrontend "default"]
enabled               = true
listen-port           = 1937
listen-host           = "0.0.0.0"
enable-proxy-protocol = false

[redis]
enabled = true
host = "localhost:6379"

[bounceHandler]
enabled     = false
listen-port = 10034
listen-host = "127.0.0.1"

[bayes]
enabled = false

[mailQueue]
enabled = true
spool-dir = /var/spool/postfix

[srs]
enabled = false

[clamav]
enabled = false
address = "/var/run/clamav/clamd.ctl"
max-size = 10485760

[contacts]
enabled = false

[dkim]
enabled = true

sign = optional

sign-headers = from
sign-headers = reply-to
sign-headers = subject
sign-headers = to
sign-headers = cc
sign-headers = references
sign-headers = in-reply-to
sign-headers = date
sign-headers = mime-version
sign-headers = content-type

sign-bodylength = 0
selector = default
backend = file

[dkim-filebackend]
key-path = /etc/cluegetter/dkim/*.key

[greylisting]
enabled = true
initial-score = 5.5
initial-period = 5

whitelist-spf = transip.email
whitelist-spf = aol.com
whitelist-spf = gmail.com
whitelist-spf = hotmail.com
whitelist-spf = outlook.com
whitelist-spf = skynet.be
whitelist-spf = servers.mcsv.net  # MailChimp & Mandrill
whitelist-spf = battle.net
whitelist-spf = eoc.io
whitelist-spf = eoc.mx

[quotas]
enabled = false

[rspamd]
enabled    = false
host       = 127.0.0.1
port       = 11333
multiplier = 0.67

[spamassassin]
enabled = true
host    = 127.0.0.1
port    = 783

connect-timeout = 0.1
timeout = 10.0

max-size = 500000

verdict-msg = GTUBE:        This messages contains the Generic Test for Unsolicited Bulk Email \
            (GTUBE). Therefore, this message has been blocked.
verdict-msg = RDNS_NONE:    No Reverse DNS could be found for your IP (%{clientIp}). If you're \
            using IPv6, make sure you also enable it for IPv6.

# You can script your own modules using Lua.
# [luaModule "something"]
# enabled = true
# script = ./lua/something.lua