user = {{ mysql.mail.user }}
password = {{ mysql.mail.pass }}
hosts = {{ mysql.mail.host }}
dbname = {{ mysql.mail.database }}
query = SELECT destination FROM virtual_aliases a JOIN virtual_domains d ON d.id = a.domain_id WHERE CONCAT(a.local_part, '@', d.name) = '%s'